<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'recipes/partials/head.html' %}
    <title>Recipes - {% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'recipes/partials/header.html' %}

    {% if is_detail_page is not True %}
        {% include 'recipes/partials/search.html' %}
    {% endif %}

    <main class="main-container">
        {% block main_content %}
        {% endblock main_content %}
    </main>

    {% include 'recipes/partials/footer.html' %}
</body>

</html>